@charset "utf-8";
$color:#606060;
$font:12px/150% Arial,
Tahoma,
"宋体";
$none:none;
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    color: $color;
    font: $font;
    a {
        text-decoration: $none;
        color: $color;
    }
    h2,
    h3 {
        font: bold 14px '微软雅黑';
    }
    .width {
        width: 1210px;
        margin: 0 auto;
    }
    img {
        border: 0px;
    }
    div {
        display: block;
    }
    .fl {
        float: left;
    }
    .fr {
        float: right;
    }
    .wrapper {
        width: 1210px;
        margin: 0 auto;
        position: relative;
    }
    .floor {
        font-family: "微软雅黑";
        margin-top: 14px;
    }
}