@charset "utf-8";
#recommend {
    margin-top: 35px;
    font-family: "微软雅黑";
    overflow: hidden;
    h2 {
        height: 46px;
        font-weight: normal;
        line-height: 46px;
        overflow: hidden;
        .fl {
            font-size: 20px;
            color: #383838;
        }
        .words {
            margin-left: 20px;
            img {
                width: 216px;
                height: 18px;
            }
        }
    }
    .recommend_pic {
        display: flex;
        .adv1 {
            width: 240px;
            height: 420px;
            img {
                width: 240px;
                height: 420px;
            }
        }
        .adv2 {
            display: flex;
            flex-direction: column;
            width: 485px;
            height: 420px;
            img {
                display: block;
            }
        }
        .com_t {
            display: flex;
            width: 485px;
            .border_r {
                border-right: 2px solid #ededed;
            }
        }
    }
}