@charset "utf-8";
.header-search {
    position: fixed;
    height: 80px;
    margin: 0 auto;
    padding-bottom: 12px;
    background: url(searchline.png) repeat-x bottom;
    .width {
        display: flex;
        justify-content: space-between;
    }
    .log {
        width: 220px;
    }
    .search {
        position: relative;
        width: 625px;
        margin: 12px 0 0 48px;
        display: flex;
        .search_l {
            width: 584px;
            height: 38px;
            border: 2px solid #c30000;
            em {
                position: absolute;
                top: 11px;
                left: 10px;
                width: 16px;
                height: 16px;
                background: url(icon2.png) no-repeat -69px -24px;
            }
            input {
                width: 450px;
                height: 36px;
                padding-left: 32px;
                font: 14px/36px "微软雅黑";
                color: #bbb;
                border: none;
            }
            .btn {
                width: 100px;
                height: 38px;
                float: right;
                button {
                    background-color: #C70019;
                    width: 100px;
                    height: 38px;
                    _height: 44px;
                    font: 18px "微软雅黑";
                    color: #fff;
                    background-color: #c30000;
                    border: none;
                    cursor: pointer;
                }
            }
        }
    }
    .number {
        margin-top: 12px;
        width: 174px;
        line-height: 23px;
        font-size: 16px;
        color: #c30000;
        font-weight: bold;
    }
}