@charset "utf-8";
.main_nav_wrap {
    border-bottom: 2px solid #E8382F;
    position: relative;
    height: 46px;
    // border-bottom: 2px solid #318700;
    z-index: 999;
    .width {
        position: relative;
        .all_kinds {
            position: absolute;
            top: 2px;
            left: 0;
            float: left;
            .head {
                background-color: #E8382F;
                width: 210px;
                height: 46px;
                line-height: 46px;
                color: #fff;
                font-size: 16px;
                text-align: center;
            }
            .cont {
                background-color: #C70019;
                position: relative;
                width: 210px;
                height: 410px;
                padding: 12px 0 28px 0;
            }
        }
        .nav_v {
            .nav {
                width: 760px;
                height: 46px;
                padding-left: 219px;
                float: left;
                position: relative;
                float: left;
                white-space: nowrap;
                a {
                    display: inline-block;
                    height: 38px;
                    margin: 5px 0 3px 0px;
                    padding: 0 11px;
                    font: 16px/38px "Microsoft YaHei";
                    text-align: center;
                    color: #383838;
                }
            }
        }
        .min_cart {
            float: right;
            position: relative;
            right: 0;
            z-index: 100;
            .btn {
                display: inline;
                position: absolute;
                top: -3px;
                right: 0px;
                width: 180px;
                height: 18px;
                padding: 9px 10px 16px;
                margin: 5px 1px 1px;
                line-height: 22px;
                text-align: center;
                color: #098A00;
                cursor: pointer;
                .cart-icon {
                    display: inline-block;
                    width: 27px;
                    height: 20px;
                    vertical-align: middle;
                    background: url(icon2.png) no-repeat -47px 0;
                    line-height: 22px;
                    text-align: center;
                    color: #098A00;
                    cursor: pointer;
                    i {
                        position: absolute;
                        left: 65px;
                        top: -8px;
                        width: 25px;
                        height: 20px;
                        font: 12px/16px "微软雅黑";
                        background: url(icon2.png) no-repeat -10px -40px;
                        text-align: center;
                        font-style: normal;
                        color: #fff;
                        overflow: hidden;
                        display: block;
                    }
                }
                .text {
                    display: inline-block;
                    height: 20px;
                    line-height: 20px;
                    vertical-align: middle;
                    margin-left: 15px;
                    font-family: "微软雅黑";
                    font-size: 14px;
                    color: #383838;
                }
                .arrow {
                    float: right;
                    width: 10px;
                    height: 6px;
                    margin: 10px 18px 0 5px;
                    background: url(icon2.png) no-repeat 0 -40px;
                    overflow: hidden;
                }
            }
        }
    }
}

#goods-list {
    float: left;
    height: 39px;
    width: 100%;
    &:hover {
        background-color: white;
    }
    &:hover a {
        color: #C70019;
    }
    &:hover b {
        background-position: -19px 0;
    }
    h3 {
        width: 172px;
        height: 32px;
        padding: 0 19px 0 19px;
        line-height: 32px;
        font-size: 14px;
        overflow: hidden;
        b {
            display: block;
            float: left;
            width: 18px;
            height: 18px;
            margin: 6px 16px 0 0;
            background-position: 0 0;
        }
        a {
            color: #fff;
            font-weight: normal;
        }
    }
}